<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:http="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.3.xsd" >
<!--    目标类-->
    <bean id="helloImpl" class="cn.hcx.HelloImpl"></bean>
<!--    切面-->
    <bean id="MyAspectJ" class="cn.hcx.cal.MyAspectJ"></bean>
<!--    aop编程-->
</beans>
