<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="AdviceBefore" class="cn.hcx.cal.AdviceBefore"/>
    <bean name="AdviceAfter" class="cn.hcx.cal.AdviceAfter"/>
    <bean name="AdviceAround" class="cn.hcx.cal.AdviceAround"/>
    <bean name="AdviceThrow" class="cn.hcx.cal.AdviceThrow"/>
<!--    切面类-->
    <bean name="HelloImpl" class="cn.hcx.HelloImpl"/>
<!--    目标类的实现类-->
    <bean name="helloProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
<!--        使用Spring代理工厂定义一个名称为helloProxy的代理对象-->
        <property name="proxyInterfaces" value="cn.hcx.Hello"/>
        <property name="target" ref="HelloImpl"/>
        <property name="interceptorNames" >
            <list>
                <value>AdviceBefore</value>
                <value>AdviceAfter</value>
                <value>AdviceAround</value>
                <value>AdviceThrow</value>
            </list>
        </property>
    </bean>
</beans>
